{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Leaves Left
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ remaining_leaves }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Leave Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ leaves }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Approved Leaves
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ accepted_leaves }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Pending Leave Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ pending_leaves }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <h3> All Leave Requests</h3>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Leave Type</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for leave in all_leaves %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ leave.leave_type }}</td>
                            <td>{{ leave.start_date }}</td>
                            <td>{{ leave.end_date }}</td>
                            <td>{{ leave.status }}</td>

                        </tr>
                    {% endfor %}
                   
                    </tbody>
                </table>
            </div>
        </div>


    </div>

{% endblock %}
